body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    margin: 0px 1% 0px 1%;
    border: 5px solid black;
}
.section-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
pre{
    color: black;
    font-size: x-large;
    font-family: Arial, sans-serif;
}
.img-icon{
    box-sizing: border-box;
    padding: 0%;
    width: 25px;
    height: auto;
}
.btn-section-1{
    background-color: aqua;
    width: 50%;
}
.mac-app-store-btn{
    width: 250px;
    height: 50px;
    margin-right: 20px;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-weight: 600;
}
.img-icon-2{
    width: 20px;
    height: auto;
    padding-right: 2px;
    padding-top: 0px;
}
.buy-btn{
    width: 250px;
    height: 50px;
    margin-left: 20px;
    border-radius: 15px;
    border: 1px solid black;
    font-weight: 600;
}
.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-2 p{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: x-large;
    font-family: Arial, sans-serif;
}
.sub-section-2{
    height: 300px;
    background-image: url(../pics/pic-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    width: 80%;
}
.sub-section-3{
    height: 400px;
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.div-1{
    border: 2px solid rgb(195, 251, 232);
    height: 300px;
    width: 40%;
    background-color: rgb(229, 249, 242);
    border-radius: 20px;
    margin-right: 60px;
    padding: 20px;
}
.div-2{
    border: 2px solid rgb(195, 251, 232);
    height: 300px;
    width: 40%;
    background-color: rgb(232, 252, 245);
    border-radius: 20px;
    margin-left: 60px;
}


