<div class="container">
    
  <div class="section-1">
    <h1>Sleeve 2</h1>
    <h2>The ultimate music accessory for your Mac.</h2>
    <pre>
      Sleeve sits on the desktop, displaying and controlling the music you’re <br/>
      currently playing in <img class='img-icon' src="https://replay.software/sleeve/images/AppMusic.png" alt='' /> Apple Music, <img class='img-icon' src="https://replay.software/sleeve/images/AppSpotify.png" alt="" /> Spotify, and <img class='img-icon' src="https://replay.software/sleeve/images/AppDoppler.png" alt="" /> Doppler.
    </pre>
    
    <div class='btn-section-1'>
      <button class='mac-app-store-btn'>
        <img class='img-icon-2' src="https://tse3.mm.bing.net/th?id=OIP.847qCXl2CDqca-8gHr_RKQHaHa&pid=Api&P=0&h=180" alt="" />
        Mac App Store
      </button>
      <button class='buy-btn' (click)="buyBtn(5.99)">Buy Directly <span class='amount'>$5.99</span></button>
    </div>
    <div class='btn-section-2'>
      <button class='mac-app-store-btn' > View Transactions</button>
    </div><br>
  </div>  

  <div class="section-2">
    <h1>Themes. Unlimited themes.</h1>
    <p>Themes in Sleeve make creating and switching between customizations easy. Share your own <br> &nbsp; &nbsp; creations with friends and install as many themes as you like with just a double-click.</p>
    <div class="sub-section-2">

    </div>
    <div class="sub-section-3">
      <div class="div-1">
        <h1>Change it up</h1>
        <p>Switch between themes with just a click.</p>
        <p>Modify the built-in themes or create your own using Sleeve’s extensive preferences.</p>
      </div>
      <div class="div-2">
        <h1>Shareable</h1>
        <p>Export your themes and share them with friends using the handy new Sleeve Theme file format.</p>
        <p>Install themes from anywhere with a double-click or a drag and drop.</p>

      </div>
    </div>
  </div>

</div>